<!-- <p>score-board works!</p> -->
<div class="p-5">
  <div class=" d-flex justify-content-center">
    <p-card [style]="{ width: '420px' }">
      <div class="shadow-sm p-2">
        <div class="d-flex align-items-center justify-content-between">
          <div class="">
            <h4 class="mb-1">Gy, 1st inning</h4>
            <div class="d-flex align-items-center">
              <h1 class="mb-0">19</h1>
              <h1 class="mb-0"> &nbsp;-&nbsp; </h1>
              <h1 class="mb-0">5</h1>
              <h3 class="mb-0">&nbsp;(1.0)</h3>
            </div>
          </div>
          <div class="">
            <h4 class="mb-1">CRR</h4>
            <div class="d-flex align-items-center">
              <h2 class="mb-0">10</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="shadow-sm p-2 mt-2">
        <div class="">
          <table class="table mb-0">
            <thead>
              <tr>
                <th style="width: 40%;">Batsman</th>
                <th>R</th>
                <th>B</th>
                <th>4s</th>
                <th>6s</th>
                <th>SR</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>test*</td>
                <td>13</td>
                <td>4</td>
                <td>0</td>
                <td>0</td>
                <td>325.2</td>
              </tr>
              <tr>
                <td>test</td>
                <td>13</td>
                <td>4</td>
                <td>0</td>
                <td>0</td>
                <td>325.2</td>
              </tr>
            </tbody>
          </table>
          <table class="table mb-0">
            <thead>
              <tr>
                <th class="" style="width: 40%;">Bowler</th>
                <th>O</th>
                <th>M</th>
                <th>R</th>
                <th>W</th>
                <th>ER</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>test</td>
                <td>13</td>
                <td>4</td>
                <td>0</td>
                <td>0</td>
                <td>325.2</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="shadow-sm p-2 mt-2">
        <div class="d-flex align-items-center w-100">
          <h5 class="mb-0" style="font-weight: 500;">This Over:</h5>
          <ul class="p-0 m-0 nav">
            <li class="border shadow-sm p-2  mx-1"> 1</li>
            <li class="border shadow-sm p-2  mx-1"> 1</li>
            <li class="border shadow-sm p-2  mx-1"> 4</li>
            <li class="border shadow-sm p-2  mx-1"> 1</li>
            <li class="border shadow-sm p-2  mx-1"> 1</li>
            <li class="border shadow-sm p-2  mx-1"> 4</li>
            <li class="border shadow-sm p-2  mx-1"> 1</li>
            <li class="border shadow-sm p-2  mx-1"> 4</li>
          </ul>
        </div>
      </div>
      <div class="shadow-sm  mt-2">
        <div class="nav">
          <div class="d-flex align-items-center m-2">
            <p-checkbox value="Wide" inputId="ny"></p-checkbox>
            <label for="ny" class="ms-2">Wide</label>
          </div>
          <div class="d-flex align-items-center m-2">
            <p-checkbox value="No Ball" inputId="ny"></p-checkbox>
            <label for="ny" class="ms-2">No Ball</label>
          </div>
          <div class="d-flex align-items-center m-2">
            <p-checkbox value="Byes" inputId="ny"></p-checkbox>
            <label for="ny" class="ms-2">Byes</label>
          </div>
          <div class="d-flex align-items-center m-2">
            <p-checkbox value="Leg Byes" inputId="ny"></p-checkbox>
            <label for="ny" class="ms-2">Leg Byes</label>
          </div>
          <div class="d-flex align-items-center m-2">
            <p-checkbox value="Wicket" inputId="ny"></p-checkbox>
            <label for="ny" class="ms-2">Wicket</label>
          </div>
          <p-button label="Retire"  styleClass="p-button-sm" class="m-2"></p-button>
          <p-button label="Swap Batsman"  styleClass="p-button-sm " class="m-2"></p-button>
        </div>

      </div>
      <div class=" d-flex  mt-2">
        <div class="shadow-sm p-2">
          <p-button label="Undo"  styleClass="p-button-sm my-2 w-100" ></p-button>
          <p-button label="Partnerships"  styleClass="p-button-sm my-2 w-100" ></p-button>
          <p-button label="Extras"  styleClass="p-button-sm my-2 w-100" ></p-button>
        </div>
        <div class="shadow-sm p-2 ms-2">
          <ul class="p-0 m-0 nav">
            <li class="border shadow-sm p-2  m-2"> 1</li>
            <li class="border shadow-sm p-2  m-2"> 1</li>
            <li class="border shadow-sm p-2  m-2"> 4</li>
            <li class="border shadow-sm p-2  m-2"> 1</li>
            <li class="border shadow-sm p-2  m-2"> 1</li>
            <li class="border shadow-sm p-2  m-2"> 4</li>
            <li class="border shadow-sm p-2  m-2"> 1</li>
            <li class="border shadow-sm p-2  m-2"> ~</li>
          </ul>
        </div>
      </div>
    </p-card>
  </div>
</div>
